{{#if @labs.subscribers}}
<footer class="footer">
    <div class="container footer">
        <div class="footer-label">Get new posts delivered to your inbox.</div>
        {{subscribe_form placeholder="email@example.com"}}
    </div>
</footer>
{{/if}}