<div class="row header">
    <div class="col-lg-8 col-sm-6 col-xs-12">
        {{> "home"}}
    </div>
    <div class="col-lg-4 col-sm-6 col-xs-12">
        <nav>
            <ul class="header-nav">
                <li class="header-nav-item">
                    <a href="{{@blog.url}}">Home</a>
                </li>
                <li class="header-nav-item">
                    {{> "rss_icon"}}
                </li>
            </ul>
        </nav>
    </div>
</div>