<a class="home" href="{{@blog.url}}">
    <span class="home-col">
        <span class="home-avatar">
            PD
        </span>
    </span>
    <span class="home-col">
        <span class="home-title">Patrick Dunn</span>
        <span class="home-subtitle">Ramblings on modern development</span>
    </span>
</a>