// app
$primary: #0078D7;
$gray: #ecf0f1;
$accent: #00CC6A;

// font
// font- colors
$font: #4C4A48;
$link: $primary;
$link-hover: #0063B1;
$link-visited: #8764B8;
$rss: #F7630C;
$rss-hover: #CA5010;
$font-light: #bdc3c7;
$twitter: #0084b4;

// font - sizes
$font-normal: 16px;
$font-small: 14px;