@import "../variables.scss";

.post-image {
    width: 100%;
    padding-bottom: (400px / 800px) * 100%;
    background-size: cover;
    border-radius: 4px;
    background-color: $gray;
    display: block;
}

.post-title {
    text-align: center;
    margin-bottom: 0;
}

.post-subtitle {
    text-align: center;
    color: $font-light;
    margin-bottom: 15px;
}

.post-content {
    max-width: 810px;
    margin: 0 auto;
    padding-bottom: 15px;

    p {
        line-height: 1.6em;
    }

    img {
        max-width: 100%;
        border-radius: 4px;
    }

    iframe {
        width: 810px; 
        height: 405px;
        border-radius: 4px;
        background-color: $gray;
    }
    
    mark {
        background-color: $accent;
    }
}

.post-tags {
    padding-left: 0;
    margin: 0;
    list-style: none;

    & li {
        display: inline-block;
    }
}

.post-tag {
    padding: 5px 10px;
    border-radius: 20px;
    color: white;
    background-color: $accent;
    margin-right: 15px;
    display: inline-block;
    margin-top: 15px;
    &:hover {
        color: white;
    }
}

.post-tags-section {
    padding: 30px 0;
    border-top: 1px solid $gray;
    border-bottom: 1px solid $gray;
    margin-top: 15px;
    text-align: center;
    background-color: $gray;
    border-radius: 4px;
}

.post-comments {
    margin: 15px 0;
}

@media (min-width: 767px) and (max-width: 992px) {
    .post-content {
        iframe {
            width: 720px;
            height: 360px;
        }
    }
}

@media (max-width: 766px) {
    .post-content {
        iframe {
            width: calc(100vw - 30px);
            height: 50vw;
        }
    }
}